<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpiritsTodoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoWithSpirits">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakaoNativeAppKey}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TodoWithSpirits.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter android:label="login">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kakao${kakaoNativeAppKey}" />
            </intent-filter>
        </activity>

        <!-- Unity as a Library (Forest). unityLibrary가 선언하는 기본 launcher Activity는 제거하고
             호스트의 숲 Activity를 exported=false로 등록한다. -->
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity" tools:node="remove" />
        <activity android:name="com.unity3d.player.UnityPlayerActivity" tools:node="remove" />

        <activity
            android:name=".feature.forest.ForestUnityActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:hardwareAccelerated="false"
            android:resizeableActivity="true"
            android:enableOnBackInvokedCallback="false"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:theme="@style/BaseUnityGameActivityTheme">
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="android.app.lib_name" android:value="game" />
            <meta-data android:name="notch_support" android:value="true" />
        </activity>
    </application>

</manifest>